body{
  background-color: #DA0037;
}
html{ margin: 0 ; padding: 0;}
body {
    background-color: #DA0037;
}
#header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
#header h2{
    color: white;
}
#wrapper{
    display: flex;
    position: relative;

}
#menu {
   
    width: 200px;
    height: 96%;
    background-color: wheat;
    padding: 30px ;
}
*{
    text-decoration: none;
    list-style: none;
}
#menu ul{
    margin: 20px;
    padding: 20px;
    font-family:fantasy;
    font-size: 20px;
}
#menu ul{
    padding: 15px;
    border-bottom: 10px;
    border-top: 10px;
}
#menu a{
    color: black;
    display: block;
}
#menu a:hover{
    color: #DA0037;
    text-decoration: none;

}
#content{
    width: 96%;
    padding: 8px;
    min-height: 600px;
    margin: 4px auto;
    background-color: white;
}
#second-submenu{
    height: 24px;
    width: 98%;
}
#third-submenu{
   height: 24px;
    width: 98%;
    text-align: right;
}
#brand-block h2{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}
#login-block h3{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
#create *{
  text-decoration: none;
  list-style: none;
}
.input, select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  input[type=Submit] {
    width: 20%;
    background-color: wheat;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
  }
  input[type=submit]:hover {
    background-color: white;     /*hover color btn*/
  }
  .form{
    width: 500px;
    border: 2px solid black;
    padding: 30px;

  }
  #form-block {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
      width: 80%;
      margin: 0 auto;
  }
  #form-block #form-block-half{
    width: 45%;
    float: left;
    padding: 20px;
}
#button-block{
    width: 95%;
    padding: 20px;
    text-align: right;
}